/* LOGIN 페이지 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-container {
  margin: auto;
  width: 400px;
  height: 400px;
}

.wrap-login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.login-top{
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 4px solid black;
}

.login-top h1{
  font-size: 3rem;
  font-weight: 450;
}

.login-middle{
  flex: 2.5;
}

.middle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid black;
}

.middle input {
  background: none;
  padding: 10px;
  margin: 5px;
  width: 350px;
  height: 45px;
}

.middle button {
  background-color: white;
  border: 3px solid black;
  margin: 5px;
  width: 350px;
  height: 45px;
  font-size: 1.3rem;
  font-weight: 450;
}

.middle button:hover{
  background-color: black;
  color: white;
}

.login-bottom{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom{
  display: flex;
  flex-direction: row;
}

.click-signup, .click-forgotID ,.click-forgotPW {
  flex: 1;
  text-align: center;
  padding: 5px;
}
.click-signup a:link { color: black; text-decoration: none;}
.click-signup a:visited { color: black; text-decoration: none;}
.click-signup a:hover { color: black; text-decoration: none;}

.click-forgotID a:link { color: black; text-decoration: none;}
.click-forgotID a:visited { color: black; text-decoration: none;}
.click-forgotID a:hover { color: black; text-decoration: none;}

.click-forgotPW a:link { color: black; text-decoration: none;}
.click-forgotPW a:visited { color: black; text-decoration: none;}
.click-forgotPW a:hover { color: black; text-decoration: none;}

.click-forgotID {
  border-left: 2px solid black;
  border-right: 2px solid black;

}


/* Join 페이지 */

.join-container {
  margin: auto;
  width: 450px;
  height: 650px;
  display: flex;
  flex-direction: column;
}

.join-top {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 4px solid black;
}

.join-top h1{
  font-size: 3rem;
  font-weight: 450;
}

.join-middle {
  flex: 5;
}

#gender {
  background: none;
  padding: 10px;
  margin: 5px;
  width: 90px;
  height: 45px;
  border: black 2px solid;
  text-align: center;
}

#year {
  background: none;
  padding: 10px;
  margin: 5px;
  width: 150px;
  height: 45px;
  border: black 2px solid;
  text-align: center;
}

#age {
  background: none;
  padding: 10px;
  margin: 5px;
  width: 90px;
  height: 45px;
  text-align: center;
}

#member_post {
  background: none;
  padding: 10px;
  margin: 5px;
  width: 90px;
  height: 45px;
}
#member_addr {
  background: none;
  padding: 10px;
  margin: 5px;
  width: 250px;
  height: 45px;
}

.join-bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.join-bottom button{
  background-color: white;
  border: 3px solid black;
  margin: auto;
  width: 350px;
  height: 45px;
  font-size: 1.3rem;
  font-weight: 450;
}

.join-bottom button:hover{
  background-color: black;
  color: white;
}