/* * {
    all: initial;
} */

.main-Chat {
    width:25%;
    font-weight: bolder;
    font-size: 2rem;
    display: flex;
    margin: auto;
    flex-direction: column;
    height: 90%;
    border-radius: 30px;
    padding: 10px;
    /* float: right; */
    position: absolute;
    top: 8%;
    right:0%;
    z-index: 2;
    /* border: 1px solid #f28eff27 */
    background-color: white;
    box-shadow: 0px 1px 5px #555;
  }
  
  .wrap-main-ideal-box {
    border-radius: 15px;
    margin: 0.5rem;
    padding: 5rem;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #f28eff27, #84afff56);
    height: 170px;
    justify-content: space-between;
    box-shadow: 0px 1px 5px #555;
  }
  
  .wrap-main-ideal-box:hover{
    transition: all 0.5s;
    background-color: rgba(0,0,0,0.2);
  }
  
  .roomname {
    font-size:1.7rem;
      color: rgb(41, 1, 1)
  }
  
  .main-ideal-box {
    width: 150px;
    padding: 0.5rem;
  
  }
  
  .img-box{
  
  }
  
  .my-ideal-img {
  
  }
  
  .ideal-info-box{
  
  }
  
  .ideal-container {
    justify-content: center;
    text-align: center;
    /* margin: auto; */
  }
  
  /* .chat-mainbox {
    width: 70%;
    height: auto;
    background-color: aquamarine;
    margin: auto;
  } */
  
  .my-ideal-img-c {
    border-radius: 100px;
    width: 80%;
    margin: auto
  }
  /* .ChatBox {
    width: 40
  } */
  
  .ideal-info-container {
    margin-top: 0;
  }
  
  .chat-btn {
    width: 100px;
    height: auto;
  }
  
  .main-title {
    margin-top: 0%;
  }
  
  