.ideal-container {
    justify-content: center;
    text-align: center;
    /* margin: auto; */
}

/* .chat-mainbox {
    width: 70%;
    height: auto;
    background-color: aquamarine;
    margin: auto;
} */

.my-ideal-img {
    border-radius: 100px;
    width: 80%;
    margin: auto
}
/* .ChatBox {
    width: 40
} */
.ideal-box {
    width: 45%;
    height: auto;
    padding-left: 0px;
    text-align: center;
    margin-top: 2%
    /* margin: auto; */
}
.ideal-info-container {
    margin-top: 0;
}
.Chat {
    display: flex;
    width: 20%;
    /* background-color: blue; */
    margin: auto;
    flex-direction: column;
    height: auto;
    float: right;
}
.ideal-info-box{
    width: 40%;
}
.chat-btn {
    width: 100px;
    height: auto;
}

.title {
    margin-top: 0%;
}