* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  padding : 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #f28eff27, #84afff56);
}

.Box{
  background-color: #bed5ff;
  width:50vw;
  height: 80vh;
  border:1rem solid #bed5ff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.ChatBox{
  flex: 10;
  border:0.5rem solid #bed5ff;
  background-color: white;
  border-radius: 30px;
  width: 100%;
  overflow-y: scroll;
}

.ChatBox::-webkit-scrollbar {
  width: 10px;
}
.ChatBox::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.ChatBox::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

    .Chat{
      display: flex;
      justify-content: start;
      align-items: center;
      width:50%;
      height:5%;
      border:0.2rem solid #ffd9fe;
      border-radius: 30px;
    }
    .RChat{
      display: flex;
      justify-content: start;
      align-items: center;
      width:50%;
      height:5%;
      border:0.2rem solid #bef4ff;
      border-radius: 30px;
    }

.InputBox{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #84afff56; */
  /* background-color: #000000; */
}

.wrap-input {
  padding-right: 1rem;
  padding-left: 0.8rem;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

#message {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 0.5rem;
  border-style: none;
  width: 92.5%;
  height: 3rem;
}

#btn-message {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #e6e6e6;
  border-style: none;
  color: white;
  font-size: 1.1rem;
  font-weight: bolder;
  text-shadow: 0px 1px 2px #555;
  height: 3rem;
  width: 7.5%;
}

.chat-name{ flex: 1;}
.chat-message{ flex: 1;}
.chat-time{ flex: 1; font-size: 0.7rem;}