.wrap {
  position: fixed;
  /* top: 1%; */
}

.wrap-nav {
  display: flex;
  width: 100vw;
  height: 8vh;
  justify-content: space-around;
  background: linear-gradient(to right, #f28eff27, #84afff56);

}

.wrap-nav:hover{
  transition: all 0.5s;
  background-color: rgba(0,0,0,0.2);
}

.wrap-nav .logo{
  width: 100px;
  height: 100%;
}

.logo {
  background-image: url('../pages/img/layout/logoempty.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.wrap-nav li{
  width: 10%;
  /* border : 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 0px 1px 2px #555;

}
.wrap-outlet {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}

#user-container {
  width: 22%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* #userlogout {
} */

#userwellcome {
  font-size: 2rem;
  font-weight: bold;
  margin: 0px;
  color: grey;
  text-shadow: none;
}

#chat {
  background-image: url("../pages/img/layout/icon/chatcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.4em;
  height: 1.4em;
}

#logout {
  background-image: url("../pages/img/layout/icon/logouthover.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 2em;
  height: 1.4em;
}
